---
import Layout from '../layouts/Layout.astro'
import TestComponent from '../components/test/TestComponent'
import TestDevelopementComponent from '../components/test/TestDevelopementComponent.tsx'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro">
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <main>
    <h1 class="text-3xl font-bold mb-6">La mia pagina Astro</h1>
    <!-- Il componente React viene renderizzato qui -->
    <TestComponent client:load />
  </main>
</Layout>
